body{
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: white;
}
.app {
  padding: 10px;
}

table {
  border: 1px solid #ddd;
  width: 100%;
  border-collapse: collapse;
}

th {
  border-bottom: 1px solid #ddd;
  text-align: left;
}

th,td{
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}